.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
reports/karup_weight_files/
*cache*
.DS_Store
tmp
temp
test*
!riverdata-package/tests/
!riverdata-package/tests/**
.positai
riverdata_0.0.8.tar.gz
riverdata.Rcheck
