exportPattern("^[a-z][a-z0-9_]+$")
import(dplyr)
import(stringr)
import(jsonlite)
import(readr)
import(purrr)
import(tibble)
import(lubridate)
import(ggplot2)
import(plotly)
import(tidyr)
import(forcats)
import(rvest)
import(xml2)
import(zoo)
import(forecast)
import(tsibble)
import(fs)
import(rmarkdown)
import(RCurl)
importFrom(rlang,.data)
