exportPattern("^[a-z][a-z0-9_]+$")
import(dplyr)
import(stringr)
importFrom(jsonlite,fromJSON)
import(readr)
import(purrr)
import(tibble)
import(lubridate)
import(ggplot2)
importFrom(plotly,config)
importFrom(plotly,ggplotly)
importFrom(plotly,layout)
import(tidyr)
import(forcats)
importFrom(rvest,html_nodes)
importFrom(rvest,html_text)
importFrom(rvest,read_html)
import(xml2)
import(zoo)
import(forecast)
importFrom(tsibble,as_tsibble)
importFrom(tsibble,group_by_key)
import(fs)
import(rmarkdown)
importFrom(RCurl,curlPerform)
importFrom(RCurl,getURL)
import(leaflet)
import(leaflet.extras)
importFrom(htmltools,HTML)
importFrom(rlang,.data)
importFrom(stats,lm)
importFrom(stats,median)
importFrom(stats,predict)
importFrom(utils,data)
