name: R script Skjern 1

on: 
  push:
    paths:
      - .github/workflows/run_script_skjern1_ubuntu.yaml
      - script_skjern1.R
      - functions.R
      - renv.lock
  schedule:
    - cron: '0 * * * *'  # every hour
  # branches-ignore:
  #     - '**'
jobs:
  render:
    name: Run script_skjern1.R
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Install pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
    
      - name: Install dependices
        run: |
          sudo apt-get update
          sudo apt-get install -y libproj-dev libgdal-dev
          
      - uses: r-lib/actions/setup-renv@v2
          
      - name: Run R script
        run: Rscript script_skjern1.R
        
      - name: Commit results
        run: |
          git config user.email "junk@relund.dk"
          git config user.name "Lars Relund"
          git add \*.csv
          git commit --allow-empty -am 'gHA build: ${{github.run_number}}' || echo "No changes to commit"
          git pull --rebase
          git push origin || echo "No changes to commit"
